html {
    font-family: 'Redressed', cursive;
}

body {
    margin: 0px;
}



#header {
    background-color: gray;
    padding-left: 30px;
    padding-right: 30px;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 4px black;
}

#sub-text {
    color: rgb(85, 85, 85);
}

.row {
    display: flex;
}

.col-6 {
    width: 50%;
}

.col-3 {
    width: 25%;
}

.col-9 {
    width: 75%;
}

.col-4 {
    width: 33.3%;
}
.top-right {
    text-align: right;
}

.img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.footer {
    text-align: center;
}

