html {
    font-family: 'Ruluko', sans-serif;
}

body {
    margin: 0px;

}

/* header stuff*/

#header {
    background-color: gray;
    padding-left: 30px;
    padding-right: 30px;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 4px black;
}

/* sub-text*/

#sub-text {
    text-align: center;
    
}

/* main stuff */

#main {
    padding-left: 30px;
    padding-right: 30px;
}

.MBP-main {
    text-align: center;
}

ul {
    list-style-type: none;
}

h2 {
    color: gray;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.feature-title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.row {
    display: flex;
}


.img {
    margin-right: 35px;
}

.feature {
    margin-bottom: 15px;
    margin-top: 10px;
    border: solid;
    border-color: gray;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


.col-6 {
    width: 50%;
}

.col-3 {
    width: 25%;
}

.col-9 {
    width: 75%;
}

.col-4 {
    width: 33.3%;
}
.top-right {
    text-align: right;
}

.img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* footer stuff */

#footer {
    background-color: gray;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    text-align: right;
}

.GH-logo {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 45px;
}